<section class="home">
  <div class="container">
    <div class="row g-4">
      @for (product of products; track $index){
      <div class="col col-md-4">
        <div class="product">
            <div class="image text-center">
              <img [src]="product.image" class="w-75" alt="">
            </div>
            <hr>
            <div class="content">
              <h3> {{product.title.split(" ", 3).join(" ")}} </h3>
            <p>{{product.description.split(" ", 5).join(" ")}} </p>
            <p>price:{{product.price}} </p>
            <p>Category:{{product.category}} </p>
            </div>
          </div>

        
      </div>
      }
    </div>
  </div>
</section>
